<div class="row ta-center">
	<%= simple_form_for @book do |f| %>
		<div class="row">
			<div class="twelve columns">
	  			<%= f.input :title, :placeholder => "The Crucible" %>
	  		</div>
	  	</div>
	  	<div class="row">
			<div class="twelve columns">
	  			<%= f.input :author, :placeholder => "Arthur Miller"  %>
	  		</div>
	  	</div>
	  	<div class="row">
			<div class="twelve columns">
	  			<%= f.input :isbn, required: false, :placeholder => "We can probably guess this for you", :label => "ISBN:" %>
	  		</div>
	  	</div>
	  	<div class="row">
			<div class="twelve columns">
	  			<%= f.button :submit %>
	  		</div>
	  	</div>
	  
	  
	<% end %>
</div>