<div class="row ta-center">
	<%= simple_form_for @book do |f| %>
		<div class="row">
			<div class="twelve columns">
				<% if @title then %>
					<%= f.input :title %>
				<% else %>
	  				<%= f.input :title, :placeholder => "The Crucible" %>
	  			<% end %>
	  		</div>
	  	</div>
	  	<div class="row">
			<div class="twelve columns">
	  			<% if @author then %>
					<%= f.input :author %>
				<% else %>
	  				<%= f.input :author, :placeholder => "Arthur Miller" %>
	  			<% end %>
	  		</div>
	  	</div>
	  	<div class="row">
	  		<div class="twelve columns">
	  			<%= f.input :notes, required:false, :placeholder => "For your own edification", :label => "Any notes?" %>
	  		</div>
	  	</div>
	  	<div class="row">
			<div class="twelve columns">
				<% if @isbn then %>
					<%= f.input :isbn %>
				<% else %>
	  				<%= f.input :isbn, required: false, :placeholder => "Go to /books/search to find this", :label => "ISBN:" %>
	  			<% end %>
	  		</div>
	  	</div>
	  	<div class="row">
			<div class="twelve columns">
	  			<%= f.button :submit %>
	  		</div>
	  	</div>
	<% end %>
</div>
