<div class="ta-center">
	<h3>
	  <strong>Title:</strong>
	  <%= @book.title %>
	</h3>

	<p>
	  <strong>Author:</strong>
	  <%= @book.author %>
	</p>

	<p>
		<strong>ISBN:</strong>
		<%= @book.isbn %>
	</p>

	<p>
		<strong>Owner:</strong><div class="index links">
		<%= link_to @book.user.email, @book.user %>
	</div>
	</p>
	<% if @book.notes %>
		<p>
			<strong>Notes:</strong>
			<%= @book.notes %>
		<p>
	<% end %>
		<img src="http://covers.openlibrary.org/b/isbn/<%= @book.isbn %>-L.jpg?default=false" onerror="this.src='/default-book.jpg'" />
	</p>
	<div class="index links">
	<%= link_to 'Edit', edit_book_path(@book) %> |
	<%= link_to 'Back', @book.user %>
</div>
</div>
