<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Bookshelf</title>

    <link rel="icon" type="image/png" href="http://www.uniquetek.com/members/696296/uploaded/book-favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
      <div class="table-container">
        <div class="table-block footer-push">
          <div class="navbar">
          <% if user_signed_in? %>
            <p>Logged in as <strong><%= link_to current_user.email, current_user %></strong> |
            <%= link_to 'Home', root_path, :class => 'navbar-link' %> |
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></p>
          <% else %>
            <p><%= link_to 'Home', root_path, :class => 'navbar-link' %> |
              <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></p>
          <% end %>
        </div>
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>



          <!-- Primary Page Layout
               –––––––––––––––––––––––––––––––––––––––––––––––––– -->
          <div class="container">
            <%= yield %>
          </div>  <!-- end primary div.container -->
        </div> <!-- end primary div.table-block -->


        <div class="table-block hidden-on-mobile">
          <!-- Page Footer Layout
               –––––––––––––––––––––––––––––––––––––––––––––––––– -->
          <div class="containerfooter">
            <footer id="footer" class="twelve columns">
                <div class="row">
                  <div class="twelve columns">
                    <% if user_signed_in? %>
                      <a href="/users/<%= current_user.id %>"><p class="footertext">Your Bookshelf</a> |</p>
                    <% else %>
                      <a href="/users/sign_up"><p class="footertext">Make your own account</p></a> |
                    <% end %>
                    <p class="footertext">Made with</p> <div class="heart">&hearts;</div> <p class="footertext">by <a href="https://github.com/2016rshah">Rushi Shah</a> |
                    <a href="https://github.com/2016rshah/bookshelf">Star it on Github!</a></p>
                  </div>
                </div>
            </footer>
          </div> <!-- end footer div.container -->
        </div>  <!-- end footer div.table-block -->
  </body>
</html>
